attendee_number,attendee_name,control_public_ip,ssh_username,ssh_password,windows_admin_username,windows_admin_password,vault_password
{% for attendee in attendees %}
{% set h = hostvars[attendee] %}
{{ h.attendee_number }},{{ attendee }},{{ h.control_public_ip }},{{ attendee_ssh_username }},{{ h.generated_ssh_password }},{{ windows_admin_username }},{{ h.generated_windows_password }},{{ workshop_vault_password }}
{% endfor %}
